## Python Data Types
- In Python, a data type is a classification or categorization of data items based on their characteristics and behavior. It represents the kind of value that tells what operations can be performed on that particular data.

### Numeric Data Types
- int : 4,5,12,-45,20 ....
- float : 4.5,2.5,22.9,-3.4 ...
- complex : 1+2j,-3+5j ....

### Text Data Type
- string : 'syz','pq','abcd' ....

### Boolean Data Type
 - bool: Represents logical values True or False. Used in conditional statements and loops.

### Sequence Data Types
- string : Represents a sequence of characters enclosed in single or double quotes .
- list :sequence of integer [1,2,3,4,8]
- tuple:Similar to lists, but immutable (cannot be changed after creation) (1,2,3,4)

### Dictionary Data Type
- struct{
    "value": xyz
    "Roll no" : 123
}

### Set Data Type
- Represents an unordered collection of unique elements (e.g., {1, 2, 3}).

## ASCII (American Standard Code for Information Interchange)
- A - Z   :  65-90
- a - z   : 97-122
- 0 - 9   :  48-57
- space   :  32

In [1]:
## ord() function
char ='a'
print(ord(char))

97

In [2]:
## chr() function 
ASCII=97
print(chr(ASCII))

a

## Variables Assignment

In [3]:
name="Chinmaya"

In [5]:
type("chinu")

str

In [6]:
type(name)

str

In [7]:
name

'Chinmaya'

In [8]:
number = 10

In [9]:
type(number)

int

In [22]:
print(type(number))

<class 'int'>

In [10]:
number =30
number

30

In [11]:
decimal_num=2.5
type(decimal_num)

float

In [12]:
type(2+1j)

complex

In [13]:
#  variables are case senssitive
# donot start a variable name with numbers

In [15]:
type(True)

bool

### Typecasting

In [16]:
bool(0)

False

In [17]:
str(23)

'23'

In [19]:
type(str(23))

str

In [18]:
int('23')

23

In [20]:
type(int('23'))

int

### Dynamic Typing

In [21]:
int(1.52)

1

In [23]:
a=12
a='var'

In [24]:
print(type(a))

<class 'str'>

In [25]:
## concatenation between different types

In [26]:
int("1") + "1"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
"1"*10

'1111111111'

In [28]:
int('abc')

ValueError: invalid literal for int() with base 10: 'abc'

In [29]:
int(12)

12